* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: space-around; */
}

html, body {
    background-color: #92112687;
}

.nm-main, .nm-header, .nm-footer {
    position: fixed;
    background-color: #92112687;
    width: -webkit-fill-available;
}

.nm-header {
    top: 0;
    height: 10vmin;
}

.nm-main {
    top: 10vmin;
    bottom: 30vmin;
}

.nm-footer {
    bottom: 0;
}
