* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #92112687;
}

.nm-main {
    position: fixed;
    top: 15vmin;
    height: 70vmin;
    background-color: chocolate;
    width: -webkit-fill-available;
}
