* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #11269287;
}

.nm-main, .nm-header, .nm-footer {
    position: fixed;
    background-color: #11269287;
    width: -webkit-fill-available;
}

.nm-header {
    top: 0;
    height: 10vmin;
}


.nm-main {
    flex-direction: column;
    top: 15vmin;
    bottom: 15vmin;
}

.nm-main, .nm-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nm-section {
    padding: 0 2.6vmin;
    height: 8vmin;
    background-color: #11269287;
}

.nm-footer {
    bottom: 0;
    height: 10vmin;
}

#nm-copyright {
    padding-left: 8vmin;
    padding-bottom: 2.6vmin;
    font-size: 2.6vmin;
    letter-spacing: 0.8vmin;
    text-transform: uppercase;
}